# EmailJS Configuration
# 1. Sign up at https://www.emailjs.com
# 2. Add Email Service (e.g. Gmail) to get your Service ID
# 3. Create an Email Template to get your Template ID
# 4. Get your Public Key from Account > General > Public Key
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
